/*
 * Custom css only applied to the website homepage
 */


body {
    text-align: center;
    font-size: 1em;
}

.content {
    margin-top: 20%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #282A2E;
    padding: 30px;
}

.header {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.25em;
    margin-bottom: 0.65em;
    border-bottom: 1px solid #0bbf4e;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 400;
    margin: 0;
    padding-bottom: 0.5em;
}

p {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    line-height: 1.5em;
    font-weight: 300;
    margin-bottom: 1em;
}

a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 1em 1em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
}

a:hover {
    background: #0bbf4e;
    color: white;
    transition: all 0.15s linear;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -50;
}
